  
.smalldisplayanchor{
    position: relative;
   
    height: 229x;
    width: 300px;
}


.SmallDisplayContainer{
    width: 300px;
    height: 229px;
    overflow: hidden;
    z-index: 10;
}

.SmallDisplayContainer2{
    position: relative; 
    width: 300px;
    height: 229px;
    z-index: 15;
  
}

.smalldisplayexpandable{
       position: relative; 
    top:67%;
   left:50%;
   transform: translate(-50%, -50%);
    width: 300px;
    height: 310px;
    background: white;
}

.smalldisplayexpandable2{
       position: relative; 
    top:67%;
   left:50%;
   transform: translate(-50%, -50%);
    width: 325px;
    height: 335px;
    background: white;
    transition: all .5s;
}
    


.smalldisplayimagecontainer{
    height: 50%;
    width: 100%;
    overflow: hidden;
}

.smalldisplaycontent{
     position: absolute; 
    top:50%;
   left: 50%;
    padding-top: 14px;
}

.smalldisplayimage{
    height: 100%;
    width: 100%;
    
}

.smalldisplayUL{
    position: relative;
    left: -70%
}

.episodeNumber{
    color: rgba(0, 0, 0, .5);
    font: 600 13px system-ui;
}

.episodeTitle{
    color: rgba(0, 0, 0, .7);
    font: 400 20px system-ui;
}

.episodeDescription{
    width: 200px;
    height: 60px;
    padding-top: 10px;
     color: rgba(0, 0, 0, 0);
    font: 600 12px system-ui;
    overflow: hidden;
  
}

.episodeDescription2{
    width: 200px;
    height: 60px;
    padding-top: 10px;
     color: rgba(0, 0, 0, .4);
    font: 600 12px system-ui;
    transition: all .5s;
    overflow: hidden;
}

.bottombuttonssmall{
  position: absolute;
  display: flex;
  bottom: -60px;
  left: -10px;
  padding: 3%;
  z-index: 5;
}

.smalldisplayplaybuttoncontainer{
    position: relative;
    top: -25%;
    z-index: 2;
    opacity: 0;
}

.smalldisplayplaybuttoncontainer2{
    position: relative;
    top: -25%;
    z-index: 2;
    opacity: 1;
    transition: all 1s;
}

.material-icons.ds-1{
   position: absolute;
   top:20%;
   left:50%;
   transform: translate(-50%, -50%);
    font-size: 50px;
    z-index: 150;
    color: white;
    border: 3px solid rgb(255, 255, 255);
   border-radius: 50%;
   padding: .5px;
   background-color: rgba(0, 0, 0, .5);
  
   z-index: -1;
}

.material-icons.ds-2{
   position: absolute;
   top:20%;
   left:50%;
   transform: translate(-50%, -50%);
    font-size: 50px;
    z-index: 150;
    color: white;
    border: 3px solid rgb(255, 255, 255);
   border-radius: 50%;
   padding: .5px;
   background-color: rgba(0, 0, 0, .5);
   transition: font-size .25s;
}

.material-icons.ds-3{
   position: absolute;
   top:20%;
   left:50%;
   transform: translate(-50%, -50%);
    font-size: 55px;
    z-index: 150;
    color: white;
    border: 3px solid rgb(255, 255, 255);
   border-radius: 50%;
   padding: .5px;
   background-color: rgba(0, 0, 0, .5);
    transition: font-size .25s;
}