.logged-shows-ul-invis {
    display: none;
}
.search-bar-container {
    position: relative;
    margin-bottom: 48px;
    padding: 59px 0;
    // z-index: 200;
    // height: 64px;
    background-color: var(--background--primary);
    // padding-top: 30px;
    // padding-bottom: 30px;
}
.search-bar-form {
    position: relative;
    display: flex;
    margin-left: 5%;
    box-sizing: content-box;
    align-items: center;
    margin-right: auto;
    justify-content: space-between;
    background-color:  var(--background--primary);
}

.search-bar-input{
    width: 90%;
    height: 98%;
    padding: 10px 10px 5px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--text--secondary);
    font-size: 48px;
    line-height: 56px;
    font-family: 'Roboto' sans-serif;
    font-weight: 300;
    color: var(--text--primary);
    background-color: var(--background--primary);
    z-index:  200;
}

.search-bar-input::placeholder{
    font-size: 48px;
    font-family: 'Roboto',sans-serif;
}
.search-bar-clear {
    position: absolute;
    top: 45%;
    left: 85%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    cursor: pointer;
    color: var(--text--alternate)
}
.search-bar-clear--hidden {
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    color: var(--text--secondary);
    display: none;
}

.search-bar-noresults-container{
    position: absolute;
    top: 225px;
    left: 5%;
    margin-top: 30px;
}

.search-bar-fail{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: var(--text--primary);
    font-weight:100;
    line-height: 60px;

}

.search-bar-fail-2{
    font-size: 20px;
    font-weight:100;
    color: var(--text--primary);
    line-height: 60px;
    font-family: 'Roboto', sans-serif;
}

.material-icons.searching-1{
    width: 24px;
    height: 22px;
    margin-left: 12px;
    margin-right: 16px;
    color: var(--text--alternate)
}

.searching-for-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 132px;
    left: 5%;
    width: 86.2%;
    height: 88px;
    background-color: var(--background--secondary);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    z-index:  10;
}

.searching-for-pretext{
    margin-right:5px;
    color: var(--text--alternate);
    font-weight: 100;
}

.searching-for-title{
    font-weight: bold;
    color: var(--text--secondary);
    font-family:  'Roboto', sans-serif;
}
.searching-for-title span {
    font-family:  'Roboto', sans-serif;
    color: var(--text--alternate)
}

.search-shows-container {
    position: relative;
    width: calc(100% - 80px);
    margin-bottom: 200px;
    top: 50px;
    left: 4.5%;
}

.search-shows-list-title {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top:30px;
    left: 8px;
    padding-bottom: 2px;
}

.search-main-container{
    display: flex;
    position: relative;
    top: 72px;
    left:0;
    right:0;
    bottom:0;
    background-color: var(--white);
    z-index: 5;
}

.search-shows-list-container {
    position: relative;
    left:10px;
    // top: 160px;
}