.splash-main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    height: 100vh;
    // margin-bottom: -400px;
    background-position: center;
    background: ( linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), image_url('splash_background.png'));
    background-size: cover;
    // box-sizing: border-box;
    overflow-y: scroll;
    justify-content: space-evenly;
}




.main-masthead-container {
    display: flex;
    color: white;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    // font-family: "Proza", sans-serif;
    height: 400px;
    padding: 40px 80px;
    // top: 100px;
    padding-top: 100px;
}





.main-masthead-header {
    font-size: 56px;
    line-height: 56px;
    font-weight: 300;
    margin-bottom: 0;
    letter-spacing: -0.5px;
    width: 570px;
    height: auto;
    // font-family: 'Graphik' Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
}

.masthead-content-1 {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    width: 570px;
    height: auto;
    font-family: 'Roboto', sans-serif;
}

.masthead-content-2 {
    margin-top: 20px;
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
    width: 570px;
    height: auto;
    font-family: 'Roboto', sans-serif;
}

.masthead-free-trail-container {
    display: flex;
    -webkit-box-pack: center;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 1.6em;
    margin-left: auto;
    margin-right: auto;
    width: 570px;
    height: auto;
}
.masthead-free-trail-button {
    display: inline-block;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    transition: box-shadow 0.2s ease, transform 0.1s ease;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    color: #1e1e1e;
    background: #fcfcfc;
    height: 46px;
    min-width: 136px;
    padding: 0 32px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 1px;
    text-align: center;

    // cursor: pointer;
    // color: black;
    // font-family: "Proza", sans-serif;
    // font-weight: 800;
    // font-size: 16px;
    // background-color: white;
    // margin: 0 auto;
    // padding-left: 30px;
    // padding-right: 30px;
    // letter-spacing: 2px;
    // height: 50px;
    // width: 200px;
}

.masthead-trail-details {
    display: flex;
    justify-content: center;
    opacity: 0.6;
    font-size: 10px;
    font-weight: normal;
    line-height: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    width: 536px;
    align-self: center;
    height: auto;
}

.masthead-free-trail-button:hover {
    position: relative;
    top: -2px;
    box-shadow: 1px 1.5px 5px rgb(92,90,90)
}

.masthead-child-container {
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: 100%;
    line-height: 1.3;
    // padding: 40px 80px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    box-sizing: border-box;
    // bottom: -150px;
    height: auto;
}



.masthead-child-options {
    margin-top: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.masthead-child-options-header {
    margin: 0 auto;
    color: white;
    letter-spacing: 1px;
    font-size: 12px;
    padding-bottom: 10px;
}

.masthead-child-options-button {
    margin: 0 auto;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #f9f7f9;
    background-color: transparent;
    position: relative;
    text-align: center;
    line-height: 61px;
    width: 66px;
    height: 66px;
}

.masthead-child-options-img {
    margin: auto;
    vertical-align: middle;
    -webkit-filter: invert(100%);
    height: 16px;
    width: 20px;
   
    
}